body{
	background-color: rgb(18,18,18);
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	color: lightgrey;
}
#header-div{
	margin-top: -1%;
	width: 100%;
	background-color: rgb(40,40,42);
}
#show-album{
	display: inline-block;
	width: 78%;
	vertical-align: top;
	margin-left: 0;
}
#album-player-art{
	display: inline-block;
	width: 50%;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
#album-art{
	width: 100%;
	vertical-align: top;
}
#album-art img{
	vertical-align: top;
	display: inline-block;
	width: 100%;
}
iframe{
	display: inline-block;
	width: 100%;
	height: 80px;
	vertical-align: top;
	margin: 0;
}
#player-div{
	display: inline-block;
	width: 45%;
	vertical-align: top;
	margin-top: 0;
	margin-left: 2%;
}
#player-div h1, h2, h4{
	margin: 0;
	padding: 0;
}
#buy-div{
	float: right;
	width: 20%;
	text-align: center;
}
#tracklist{
	padding-left: 0;
}
#tracklist li{
	display: block;
}
#tracklist h4{
	display: inline-block;
	margin: 0 1%;
}
#buy-btn{
	height: 2em;
	text-align: center;
	border: 1px groove silver;
	border-radius: 1em;
	background-color: rgb(40,40,42);
	color: lightgrey;
}
#buy-btn:hover{
	border: 1px groove white;
	color: white;
}

#side-content{
	display: inline-block;
	background-color: rgb(40,40,42);
	width: 22%;
	/*height: 130%;*/
	margin: 0;
	padding-top: 2%;
	margin-right-left;
	text-align: center;
	float: right;
}
#side-content h3{
	margin-top: 0;
}
#side-content h4{
	margin: 0;
	padding: 0;
}
#side-content img{
	display: inline-block;
	margin: 2%;
	width: 70%;
	border-radius: 100%;
}
#side-content img:hover{
	width:75%;
	border: 1px solid white;
}
.related-artists{
	margin-bottom: 5%;
}

#bottom-content{
	display: inline-block;
	width: 78%;
	margin: 0;
	vertical-align: top;
	text-align: center;
}
.other-albums{
	vertical-align: top;
	width: 15%;
	margin: 2%;
	display: inline-block;
}
#bottom-content h3{
	margin-top: 3%;
}
#bottom-content p{
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#bottom-content img{
	display: inline-block;
	margin: 2%;
	width: 100%;
	border-radius: 1em;
}
#bottom-content img:hover{
	width:104%;
	border: 1px solid white;
}


